body {
    margin: 0 auto;
    max-width: 1024px;
}

button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: black;
    color: lime;
    border: double 4px lime;
    border-radius: 3px;
    transition: .4s;
}

button:hover {
    background: limegreen;
    color: white;
}

.display {
    position: relative;
}

#visualizer {
    border: solid 1px;
    background-color: #000;
}

#start {
    position: absolute;
    left: 412px;
    top: 75px;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

#irkit-json {
    background-color: #eee;
    padding: 12px 16px;
    font-family: 'Inconsolata', monospace;
    word-break: break-all;
}

#parsed {
    background-color: #eee;
    padding: 12px 16px;
    font-family: 'Inconsolata', monospace;
}
